.main {
    min-height: 100vh;
    background-color: #2d3748;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    /* Allow scrolling */
}