@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&family=Orbitron:wght@400;700&family=Roboto+Mono:wght@400;700&display=swap');

.trash-game-container canvas {
    display: block;
    width: 100%;
    height: 100%;
}