.blackCell {
    background-color: #b58863;
}

.selected {
    background-color: rgba(255, 255, 0, 0.5) !important;
}

.validMove::after {
    content: '';
    position: absolute;
    width: 20%;
    height: 20%;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
}

.piece {
    transition: transform 0.2s;
}

.piece:hover {
    transform: scale(1.1);
}

.whitePiece {
    color: #fff;
    text-shadow: 1px 1px 2px #000;
}

.blackPiece {
    color: #000;
    text-shadow: 0px 0px 1px #fff;
    /* 視認性向上のため */
}

@media (max-width: 600px) {
    .cell {
        font-size: 2rem;
    }
}